<%- include("./partials/head.ejs") %>

<body>

	<%- include("./partials/navbar.ejs") %>

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Blog detail START -->
<section class="pt-lg-8">
	<div class="container pt-4 pt-lg-0">
		<div class="row g-4 g-sm-7">
			<!-- Main content START -->
			<div class="col-lg-8">
				<!-- Breadcrumb -->
				<div class="d-flex position-relative z-index-9">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb breadcrumb-dots mb-1">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item"><a href="/blog">Blog</a></li>
							<li class="breadcrumb-item active" aria-current="page">HuSA Blog</li>
						</ol>
					</nav>
				</div>

				<!-- Title -->
				<h1 class="h2 mb-0"><%= post.title %></h1>

				<!-- Action -->
				<div class="d-flex align-items-center flex-wrap mt-4">
					<a href="#" class="badge text-bg-dark mb-0"><%= post.category %></a>
					<span class="text-secondary opacity-3 mx-3">|</span>
					<div class="dropdown">
						<a href="#" class="text-secondary text-primary-hover" id="cardFeedAction" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-share me-2"></i>
						</a>
						<!-- Card feed action dropdown menu -->
						<ul class="dropdown-menu min-w-auto" aria-labelledby="cardFeedAction">
							<li><a class="dropdown-item" href="#"> <i class="bi bi-facebook fa-fw me-2"></i>Facebook</a></li>
							<li><a class="dropdown-item" href="#"> <i class="bi bi-instagram fa-fw me-2"></i>Instagram</a></li>
							<li><a class="dropdown-item" href="#"> <i class="bi bi-whatsapp fa-fw me-2"></i>Whatsapp</a></li>
							<li><a class="dropdown-item" href="#"> <i class="fa-regular fa-paste fa-fw me-2"></i>Copy link</a></li>
						</ul>
					</div>
					<span class="text-secondary opacity-3 mx-3">|</span>
					<span class="text-secondary"><%= post.createdAt.toDateString() %></span>
				</div>

				<!-- Image -->
				<img src="/uploads/<%= post.img %>" class="img-fluid rounded mt-5" alt="blog-img">

				<!-- Content -->
				<div>
					<%- post.content %>
				</div>

			</div>
			<!-- Main content END -->

			<!-- Sidebar START -->
			<div class="col-lg-4 ps-xl-6">
				<!-- Author detail box -->
				<div class="card card-body d-inline-block bg-light border p-4">
					<!-- Avatar and info -->
					<div class="d-flex align-items-center mb-3">
						<!-- Avatar -->
						<div class="avatar avatar-lg flex-shrink-0 me-2">
							<img class="avatar-img rounded-circle" src="/images/avatar/avatar.jpg" alt="avatar">
						</div>
						<div class="ms-2">
							<h6 class="mb-0"><a href="#"><%= post.author %></a></h6>
							<small>Content creator</small>
						</div>
					</div>
					<p>Incorporating gratitude into our daily where we write down three things we are grateful for each day.</p>
					<!-- Button -->
					<a href="#" class="btn btn-sm btn-outline-primary mb-0">Follow author</a>
				</div>
				
				<!-- Related post -->
				<div class="align-items-center mt-5">
					<h6 class="mb-3 d-inline-block">Related post:</h6>
					<ul class="list-group list-group-flush">
						<% posts.forEach(post => { %>
							<li class="list-group-item ps-0"><a href="/blog/<%= post._id %>" class="heading-color text-primary-hover fw-semibold"><%= post.title %></a></li>
						<% }) %>
					</ul>
				</div>

				<!-- Popular tags -->
				<div class="align-items-center mt-5">
					<h6 class="mb-3 d-inline-block">Popular Tags:</h6>
					<ul class="list-inline mb-0">
						<% posts.forEach(post => { %>
							<li class="list-inline-item"> <a class="btn btn-light btn-sm" href="#"><%= post.category %></a> </li>
						<% }) %>
					</ul>
				</div>
			</div>
			<!-- Sidebar END -->

		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Blog detail END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<%- include("./partials/footer.ejs") %>