<%- include("./partials/head.ejs") %>

<body>

<%- include("./partials/navbar.ejs") %>
<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Banner START -->
<section class="pt-7">
    <div class="container pt-3 pt-xl-5">
        <!-- Slider START -->
        <div class="swiper rounded" data-swiper-options='{
            "effect": "fade",
            "navigation":{
                "nextEl":".swiper-button-next",
                "prevEl":".swiper-button-prev"
            },
            "pagination":{
                "el":".swiper-pagination",
                "clickable":"true"
            }}'>

            <!-- Slider items -->
            <div class="swiper-wrapper">
                <% posts.forEach(post => { %>
                <!-- Slider item -->
                <div class="swiper-slide">
                    <!-- Card item START -->
                    <div class="card overflow-hidden h-500px text-center rounded-0" style="background-image:url(/uploads/<%= post.img %>); background-position: center left; background-size: cover;">
                        <!-- Background dark overlay -->
                        <div class="bg-overlay bg-dark opacity-5"></div>
                        <!-- Card image overlay -->
                        <div class="card-img-overlay d-flex align-items-center p-2 p-sm-4">
                            <div class="w-100 my-auto">
                                <div class="row justify-content-center">
                                    <div class="col-11 col-lg-9">
                                        <!-- Badge -->
                                        <a href="#" class="badge text-bg-dark mb-4"><%= post.category %></a>
                                        <!-- Title -->
                                        <h1 class="h2 mb-4"><a href="/blog/<%= post._id %>" class="text-white text-primary-hover"><%= post.title %></a></h1>
                                        <ul class="nav nav-divider mb-0 justify-content-center small">
                                            <li class="nav-item text-white"><a href="#" class="text-decoration-underline"><i class="bi bi-person me-2"></i><%= post.author %></a></li>
                                            <li class="nav-item text-white"><i class="bi bi-calendar me-2"></i><%= post.createdAt.toDateString() %></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                </div>
                <% }) %>
            </div>

            <!-- Slider Pagination -->
            <!-- <div class="swiper-pagination swiper-pagination-white mb-3"></div> -->

            <!-- Add pagination and navigation elements here -->
            <div class="d-flex justify-content-between position-absolute top-50 start-0 w-100 px-1 px-sm-3">
                <a href="#" class="btn btn-dark btn-icon rounded-circle mb-0 swiper-button-prev"><i class="bi bi-arrow-left"></i></a>
                <a href="#" class="btn btn-dark btn-icon rounded-circle mb-0 swiper-button-next"><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
        <!-- Slider END -->
    </div>
</section>
<!-- =======================
Main Banner END -->

<!-- =======================
Blog list and sidebar START -->
<section class="pt-0 fix-blog">
	<div class="container">
		<!-- Title & Tab -->
		<div class="d-lg-flex justify-content-between align-items-center">
			<!-- Title -->
			<h4 class="mb-3 mb-lg-0">Our Blog</h4>
			<!-- Tabs -->
			<ul class="nav nav-pills gap-1 nav-pills-light">
				<li class="nav-item">
					<a class="nav-link active">All blog</a>
				</li>
				<!-- <% posts.forEach(post => { %>
					<li class="nav-item">
						<a class="nav-link"><%= post.category %></a>          
					</li>
				<% }) %> -->
			</ul>
	 	</div>

		<!-- Blog grid -->
		<div class="container mt-5">
    		<div class="row g-4 g-sm-5 g-xl-7 mt-0">
        		<% posts.forEach(post => { %>
        		<!-- Item -->
        		<div class="col-md-6 col-lg-4">
            		<article class="card bg-transparent h-100 p-0">
                		<!-- Badge -->
                		<div class="badge text-bg-dark position-absolute top-0 start-0 m-3"><%= post.category %></div>

                		<!-- Card image -->
                		<img src="/uploads/<%= post.img %>" class="card-img" alt="Blog-img">

                		<!-- Card Body -->
                		<div class="card-body px-2 pb-4">
                    		<!-- Title -->
                    		<h6 class="card-title mb-2"><a href="/blog/<%= post._id %>"><%= post.title %></a></h6>
                    		<!-- <div class="small mb-0"><%= post.content.substring(0, 100) %></div> -->
                		</div>
                
                		<!-- Card footer -->
                		<div class="card-footer bg-transparent d-flex justify-content-between px-2 py-0">
                    		<span class="heading-color fw-semibold mb-0"><%= post.author %></span>
                    		<a class="icon-link icon-link-hover stretched-link" href="/blog/<%= post._id %>">Read more<i class="bi bi-arrow-right"></i></a>
                		</div>
            		</article>
        		</div>
        		<% }) %>
    		</div>
		</div>

	</div>
</section>
<!-- =======================
Blog list and sidebar END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<%- include("./partials/footer.ejs") %>

</body>
</html>