<%- include("./partials/head.ejs") %>

<body>

<!-- Header START -->
<%- include("./partials/navbar.ejs") %>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Banner START -->
<section class="pt-7 pb-0">
	<div class="container pt-5">
		<!-- Image -->
		<div class="card h-300px h-md-400px overflow-hidden" style="background:url(/uploads/<%= story.img %>) no-repeat; background-size:cover; background-position:center;"></div>

		<!-- Content -->
		<div class="row">
			<div class="col-11 col-lg-10 mx-auto mt-n7">
				<div class="bg-body border border-opacity-10 shadow rounded position-relative p-4 p-sm-5">
					<h4 class="mb-3"><%= story.title %></h4>
		
					<div class="d-flex align-items-center flex-wrap">
						<span><%= story.createdAt.toDateString() %></span>
						<span class="text-secondary opacity-3 mx-3">|</span>
						<div class="d-flex align-items-center">
							<span class="fw-semibold heading-color"> <%= story.name %></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->

<!-- =======================
Main content START -->
<section class="pt-7">
	<div class="container">
		<div class="row">
			<!-- Content START -->
			<div class="col-lg-7 mx-auto">
				<div>
					<%- story.content %>
				</div>

				<hr class="mt-5"> <!-- Divider line -->
			</div>
			<!-- Content END -->

		</div>
	</div>
</section>
<!-- =======================
Main content END -->

<!-- =======================
Related stories START -->
<section class="pt-0">
	<div class="container">
		<!-- Title -->
		<div class="inner-container text-center mb-5">
			<h2 class="mb-0">More stories</h2>
		</div>

		<div class="row justify-content-center">
			<!-- Review card START -->
			 <% stories.forEach(story => { %>
			<div class="col-md-6 col-lg-4 mb-4 mb-md-0">
				<div class="card card-img-scale bg-transparent overflow-hidden">
					<!-- Card image -->
					<div class="card-img-scale-wrapper rounded">       
						<img src="/uploads/<%= story.img %>" class="card-img" alt="story-image">
					</div>
					<!-- Card body -->
					<div class="card-body px-0">
						<h6 class="card-title mb-3"><%= story.title %></h6>
						<a class="icon-link icon-link-hover stretched-link" href="/success-stories/<%= story._id %>">Read full story<i class="bi bi-arrow-right"></i> </a>
					</div>
				</div>
			</div>
			<% }) %>
			<!-- Review card END -->
		</div>
	</div>
</section>
<!-- =======================
Related stories END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<%- include("./partials/footer.ejs") %>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!--Vendors-->
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- ThemeFunctions -->
<script src="assets/js/functions.js"></script>

</body>
</html>